@using Core.Entities
@model IEnumerable<Ticket>


<table class="table mt-4 table-striped table-hover">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Details
            </th>
            <th>
                Date Created
            </th>
            <th>
                Created By
            </th>
            <th>Edit</th>
        </tr>
    </thead>
    @foreach (var ticket in Model)
    {
        <tr>
            <td>@ticket.Title</td>
            <td>@ticket.Details</td>
            <td>@ticket.DateCreated</td>
            <td>@ticket.CreatedBy</td>
            <td>
                <a class="btn btn-info" onclick="jQueryModalGet('?handler=CreateEdiTicketModal&id=@ticket.TicketID', 'Update Ticket')"><i class="fas fa-edit"></i></a>
                <form method="post" asp-page="Index" asp-route-id="@ticket.TicketID" asp-page-handler="Delete" onsubmit="return jQueryModalDelete(this)" class="d-inline">
                    <button type="submit" class="btn btn-danger text-white"> <i class="far fa-trash-alt"></i></button>
                </form>
            </td>
        </tr>
    }

</table>
