@page
@model Web.Pages.TicketScaffolded.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ticket) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TicketID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TicketID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TicketID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
